" easy life
inoremap jj <Esc>
let mapleader = " "

" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Find more examples here: https://jb.gg/share-ideavimrc
set NERDTree
set multiple-cursors
set number
set relativenumber
set noignorecase
set tabstop=4
set softtabstop=4
set shiftwidth=4
set showmode
set clipboard=unnamedplus
set clipboard+=ideaput
set incsearch
set hlsearch
set scrolloff=8
set history=1000

" clear highlighting
nnoremap <leader>cc :noh<CR>

" option selection
inoremap <expr> <down> ((pumvisible())?("\<C-n>"):("\<down>"))
inoremap <expr> <up> ((pumvisible())?("\<C-p>"):("\<up>"))

" debug
map <leader>b <Action>(ToggleLineBreakpoint)

" reformat
nnoremap <leader>f :action ReformatCode <CR>
vnoremap <leader>f :action ReformatCode <CR>
nnoremap <leader>o :action OptimizeImports <CR>
vnoremap <leader>o :action OptimizeImports <CR>

" splits
nnoremap <leader>v :action SplitVertically <CR>
nnoremap <leader>dv :action UnsplitAll <CR>
nnoremap <leader>l :action NextSplitter <CR>

" greatest maps
nnoremap gh :action Back <CR>
nnoremap gl :action Forward <CR>

" multiple cursors
map mc <A-n>
map mx <A-x>
map mp <A-p>

" nerd tree
map <leader>nt :NERDTreeToggle<CR>

" comments
Plug 'tpope/vim-commentary'

" changes
nnoremap ]c :action VcsShowNextChangeMarker <CR>
nnoremap [c :action VcsShowPrevChangeMarker <CR>

""
nnoremap <c-y> :action QuickJavaDoc<cr>
nnoremap <c-x> :action ShowErrorDescription<cr>